@import url('https://fonts.googleapis.com/css?family=Asap:400,400i,700,700i&display=swap');

body {
	font-family: 'Asap', sans-serif;
	margin: 0;
	color: #332657;
	position: relative;
}
hr {
	margin: 0;
	border: none;
}
a {
	text-decoration: none;
	color: unset;
}
nav {
	background-color: #fff;
	margin: 0;
	padding: 2vh 0;
	width: 100%;
	height: 10vh;
	display: grid;
	align-items: center;
	justify-items: center;
	grid-template-columns: 5vw 28vw 60vw 5vw;
	position: fixed;
	top: 0;
	z-index: 2;
}

.logo {
	grid-column: 2;
	display: flex;
	flex-flow: row;
}

.logo img {
	max-width: 100px;
	margin-right: 20px;
	align-self: center;
}

.logoic {
	filter: invert(.35) sepia(1) saturate(2) hue-rotate(256deg);
}

.logo h1 {
	line-height: 0.85em;
}
.menu {
	margin: 0;
	padding: 0;
}
.secoes {
	margin: 0;
	padding: 0;
	max-width: 70vw;
	align-self: center;
	display: flex;
	list-style-type: none;
	align-items: center;
	justify-items: start;
	grid-column: 3;
	flex-flow: row;
}

.secoes li {
	padding: 10px 1.5vw;
	text-transform: uppercase;
	font-weight: bold;
	transition: all 0.3s ease;
}

.secoes li:hover {
	background-color: #975c90;
	color: white;
	cursor: pointer;
}

.tel {
	display: flex;
	align-items: center;
	transition: all 0.3s ease;
}

.tel:hover {
	filter: invert(1);
}

.zap {
	height: 1.2em;
	margin-right: 10px;
}

/* Hero */

.hero {
	margin: 10vh 0 0 0;
	background-image: url('assets/imgs/bg01.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 90vh;
	display: flex;
	justify-content: center;
}

.hero-texto {
	margin: 0;
	padding: 10px 25px;
	align-self: center;
	text-align: center;
	background-color: rgba(82, 61, 140, 0.5);
	text-transform: uppercase;
	color: #fff;
}

.hero-texto p {
	font-size: 1.25em;
	font-weight: 400;
}

/* Dr. Esteban */

.dresteban {
	padding: 15vh 20vw;
	display: flex;
	flex-flow: row;
}

.dresteban img {
	align-self: flex-start;
}

.bio {
	margin: 0;
	margin-left: 5vw;
}

.bio h1 {
	margin: 0 0 4vh 0;
	color: #975c90;
	font-size: 2.5em;
}

.bio p {
	line-height: 1.5;
	font-size: 1.2em;
	margin-bottom: 3vh;
	text-align: justify;
}

/* Especialidades */

.espec {
	height: 100vh;
	background-color: #eee;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: flex-start;
}

.titulo {
	color: #975c90;
	font-size: 2.5em;
	display: flex;
	margin: 0;
	width: 100%;
	height: 24vh;
	justify-content: center;
	align-items: center;
	align-self: flex-start;
}

.box {
	background-color: #fff;
	border: 1px solid lightslategray;
	border-radius: 5px;
	margin: 0 2vw;
	padding: 2em;
	flex-basis: 20%;
	font-size: 1.2em;
	line-height: 1.5;
}

.box h4 {
	text-align: center;
	font-size: 1.25em;
	text-transform: uppercase;
	margin-bottom: 5vh;
}

.box ul {
	list-style-type: none;
}

.box li {
	margin-bottom: 2vh;
}

/* Consultório */
.consultorio {
	min-height: 100vh;
	width: 100%;
	text-align: center;
	position: relative;
	z-index: 0;
}

.consultorio p {
	margin-top: -5vh;
	margin-bottom: 5vh;
	font-size: 1.2em;
}

.consultorio img {
	max-width: 100vw;
	box-sizing: border-box;
}

.glide {
	height: 100vh;
	overflow: hidden;
}

/* Artigos */
.artigos {
	min-height: 42vh;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	padding: 15vh 20vw;
	align-content: flex-start;
}

.art {
	width: 100%;
	height: 1em;
	margin-bottom: 5vh;
	color: #332657;
}

.art-menu {
	padding: 2vh 1vw;
	border: 1px solid lightslategray;
	border-radius: 5px;
	height: 20vh;
	flex-basis: 15vw;
}

.art-menu ul {
	padding: 0;
	list-style-type: none;
	font-size: 1.2em;
	text-align: center;
}

.art-menu li {
	margin: 2vh 0;
	cursor: pointer;
	transition: color 0.5s ease;
}

.art-menu li:hover {
	color: #975c90;
	text-decoration: underline;
}

article {
	margin: 0;
	margin-left: 5vw;
	flex-basis: 30vw;
	text-align: justify;
	font-size: 1.2em;
	line-height: 1.5;
}

article h1 {
	margin-top: 0;
	color: #975c90;
}

article a {
	color: #975c90;
}

article a:hover {
	text-decoration: underline;
}

/* Contato */

.contato {
	background-image: url('assets/imgs/bg02.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-flow: row wrap;
	align-content: flex-start;
	justify-content: center;
	padding-bottom: 15vh;
}

.ct {
	color: #332657;
	height: 12vh;
}

.contato-info {
	text-align: center;
}

.contato-info h1 {
	margin: 0;
	color: #975c90;
}

.contato-info p {
	font-size: 1.2em;
}

.mapa {
	margin-left: 4vw;
	filter: saturate(0);
}

footer {
	background-color: #332657;
	color: #fff;
	width: 100%;
	height: 5em;
	position: absolute;
	bottom: 0;
	display: flex;
	align-items: center;
}

footer p {
	font-size: 0.7em;
	margin-left: 5vw;
}
/* Media Queries */
@media (min-width: 1441px) {
	nav {
		padding: 0;
		grid-template-columns: 5vw 25vw 1fr 5vw;
	}

	.secoes li {
		padding: 10px 25px;
	}
}

@media (max-width: 1440px) {
	.dresteban {
		padding: 15vh 10vw;
	}
	.artigos {
		padding: 15vh 10vw;
	}

	.art-menu {
		flex-basis: 20vw;
		height: unset;
		max-height: 35vh;
	}

	article {
		flex-basis: 50vw;
	}

	.box {
		flex-basis: 32%;
	}
}
